body {
  display: -webkit-box;
  margin: 0;
  overflow: hidden;
}

#tree {
  width: 300px;
  overflow: auto;
  height: 100%;
  font-family: Sans-serif;
  font-size: 12px;
  -webkit-user-select: none;
}

#tree a {
  text-decoration: none;
  color: Black;
}

#tree div {
  padding: 3px 0 0 10px;
}

#tree div.layer {
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

#tree div.layer.focused {
  outline: none;
  background-color: #eee;
}

#tree span {
  margin: 0 0 0 2px;
  pointer-events: none;
}

#tree span.at {
  border-radius: 3px;
  padding: 0 2px;
  background-color: Orange;
  font-family: monospace;
  font-size: 11px;
  color: White;
}

#tree span.size {
  border-radius: 3px;
  padding: 0 2px;
  background-color: Blue;
  font-family: monospace;
  font-size: 11px;
  color: White;
}

#tree span.tag {
  border-radius: 3px;
  padding: 0 2px;
  background-color: Red;
  font-family: monospace;
  font-size: 11px;
  color: White;
}

#stage {
  overflow: hidden;
  -webkit-user-select: none;
  -webkit-box-flex: 1;
}

#surface {
  -webkit-transform-style: preserve-3d;
  height: 100%;
}

#surface div {
  -webkit-transform-style: preserve-3d;
  -webkit-transition: opacity 0.3s ease-in;
}

#surface .layer {
  background-color: rgba(0, 0, 255, 0.4);
  border: 1px solid rgba(0, 0, 255, 1);
}

#surface .render {
  background-color: rgba(0, 255, 0, 0.4);
  border: 1px solid rgba(0, 255, 0, 1);
  -webkit-transform: translateZ(20px);
}

#surface div.layer:not(.focused) {
  opacity: 0.1;
  -webkit-transition-timing-function: ease-out;
}

#surface .layer, #surface .render {
    position: absolute;
    white-space: nowrap;

/*
    BREAKS 3D TRANSFORMS.
    overflow: hidden;
*/
    font-family: Sans-serif;
    font-size: 10px; /* This seems like the smallest readable size that fits */
    pointer-events: none;
}

#surface .text {
}

