body {
  display: -webkit-box;
  margin: 0;
  overflow: hidden;
}

#tree {
  width: 300px;
  overflow: auto;
  height: 100%;
  font-family: Sans-serif;
  font-size: 12px;
  -webkit-user-select: none;
}

#tree a {
  text-decoration: none;
  color: Black;
}

#tree div {
  padding: 3px 0 0 10px;
}

#tree div.layer:focus {
  outline: none;
}

#tree i {
  padding: 0 0 0 4px;
}

#stage {
  overflow: hidden;
  -webkit-user-select: none;
  -webkit-box-flex: 1;
}

#surface {
  -webkit-transform-style: preserve-3d;
  height: 100%;
}

#surface div:target {
  background-color: rgba(255, 0, 0, 0.4);
  border: 1px solid rgba(255, 0, 0, 1);
}

#surface div {
  -webkit-transform-style: preserve-3d;
}

#surface .layer {
  background-color: rgba(0, 0, 255, 0.4);
  border: 1px solid rgba(0, 0, 255, 1);
}

#surface .render {
  background-color: rgba(0, 255, 0, 0.4);
  border: 1px solid rgba(0, 255, 0, 1);
  -webkit-transform: translateZ(20px);
}

#surface .layer, #surface .render {
    position: absolute;
    white-space: nowrap;

/*
    BREAKS 3D TRANSFORMS.
    overflow: hidden;
*/
    font-family: Sans-serif;
    font-size: 10px; /* This seems like the smallest readable size that fits */
    pointer-events: none;
}

#surface .text {
}

